<h1>Lista de provas</h1>
<hr />
<div class="display-flex justify-content-end padding-1">
  <p-button icon="pi pi-plus margin-right-2" label="Novo" routerLink="novo"></p-button>
</div>
<p-table [columns]="colunas" [value]="provas" emptyMessage="Nenhum registro encontrado">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ngStyle]="{'width': col.tamanho}">{{ col.cabecalho }}</th>
      <th style="width: 120px">Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">{{ rowData[col.campo] }}</td>
      <td>
        <div class="display-flex justify-content-between">
          <p-button icon="pi pi-trash"></p-button>
          <p-button icon="pi pi-pencil" [routerLink]="rowData.id"></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length + 1">Nenhuma prova registrada.</td>
    </tr>
  </ng-template>
</p-table>
<p-toast></p-toast>
