<h1>Realizando Prova</h1>
<hr />
<h2>{{prova.nome}}</h2>
<h3>{{prova.descricao}}</h3>
<div>
  {{obterQuestaoAtual().descricao}}
  <div class="ui-g">
    <div class="ui-sm-12 ui-sm-6 ui-lg-4" *ngFor="let opcao of obterQuestaoAtual().opcoes">
      <p-radioButton name="respostasprova" [value]="opcao" [label]="opcao.texto"></p-radioButton>
    </div>
  </div>
</div>
<div class="display-flex justify-content-end">
  <p-button icon="pi pi-arrow-left" label="Questão Anterior" class="margin-right-2" (onClick)="regredir()" [disabled]="indicadorQuestaoAtual === 0"></p-button>
  <p-button icon="pi pi-arrow-right" label="Próxima Questão" class="margin-right-2" (onClick)="avancar()" [disabled]="indicadorQuestaoAtual === prova.perguntaLista.length - 1"></p-button>
  <p-button icon="pi pi-angle-left" label="Voltar" class="margin-right-2" (onClick)="voltar()"></p-button>
  <p-button icon="pi pi-plus" label="Salvar" (onClick)="salvar()"></p-button>
</div>
<p-toast></p-toast>
