<ng-container *ngIf="!modal">
  <h1 class="margin-0">{{ ehModoEdicao() ? 'Alterar' : 'Adicionar' }} Professor</h1>
  <hr />
</ng-container>
<form [formGroup]="formulario">
  <div class="ui-g margin-top-4">
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label">
        <input class="width-100" type="text" formControlName="nome" pInputText />
        <label>Nome</label>
      </div>
      <app-erros-formulario nomeDoCampo="nome"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label g-inputgroup">
        <input class="width-100" type="text" formControlName="email" pInputText />
        <label>E-Mail</label>
      </div>
      <app-erros-formulario nomeDoCampo="email" [mensagensValidacao]="mensagensValidacao.get('email')"></app-erros-formulario>
    </div>
    <div class="ui-g-12 display-flex justify-content-end">
      <p-button icon="pi pi-angle-left" label="Voltar" class="margin-right-2" (onClick)="voltar()"></p-button>
      <p-button icon="pi pi-plus" label="Salvar" (onClick)="salvar()"></p-button>
    </div>
  </div>
</form>
<p-toast></p-toast>
