<h1 class="margin-0">Login</h1>
<hr />
<form [formGroup]="formulario">
  <div class="ui-g margin-top-2">
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label g-inputgroup">
        <input class="width-100" type="text" formControlName="email" pInputText />
        <label>E-Mail</label>
      </div>
      <app-erros-formulario nomeDoCampo="email"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label g-inputgroup">
        <input class="width-100" type="password" formControlName="senha" pInputText />
        <label>Senha</label>
      </div>
      <app-erros-formulario nomeDoCampo="senha"></app-erros-formulario>
    </div>
  </div>
</form>
<hr />
<div class="padding-2 display-flex justify-content-end">
  <p-button label="Entrar" class="margin-right-2" (onClick)="logar()"></p-button>
  <p-button label="Esqueci Minha Senha" pTooltip="Preencha pelo menos o email no campo devido." tooltipPosition="top" (onClick)="esqueceuSenha()"></p-button>
</div>
<p-dialog header="Mudança de Senha" [visible]="mostrarDialogMudancaSenha" [closable]="false">
  <p>
    Um email foi enviado para sua caixa de entrada contendo um link para que você possa redefinir sua senha.<br />
    Se não achá-lo em sua caixa de entrada, cheque as pastas de SPAM ou Lixo Eletrônico.
  </p>
  <div class="padding-2 display-flex justify-content-center">
    <p-button class="margin-right-2" icon="pi pi-check" label="Ok" (onClick)="esconderModalMudancaSenha()"></p-button>
    <!-- TODO: remover -->
    <p-button label="Redefinir Senha" routerLink="nova-senha"></p-button>
  </div>
</p-dialog>
<p-toast></p-toast>
