<h1>Redefinir Senha</h1>
<hr />
<form [formGroup]="formulario">
  <div class="ui-g">
    <p class="ui-g-12">Use o formulário adiante para redefinir sua senha.</p>
    <div class="ui-sm-12 ui-md-6 ui-xl-4">
      <div class="ui-float-label g-inputgroup">
        <input class="width-100" type="text" formControlName="email" pInputText />
        <label>E-Mail</label>
      </div>
      <app-erros-formulario nomeDoCampo="email"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-xl-4">
      <div class="ui-float-label g-inputgroup">
        <input class="width-100" type="password" formControlName="senhaNova" pInputText />
        <label>Nova Senha</label>
      </div>
      <app-erros-formulario nomeDoCampo="senhaNova"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-xl-4">
      <div class="ui-float-label g-inputgroup">
        <input [(ngModel)]="confirmarSenha" [ngModelOptions]="{standalone: true}" class="width-100" type="password" pInputText />
        <label>Confirmar Senha</label>
      </div>
    </div>
  </div>
</form>
<hr />
<div class="padding-2 display-flex justify-content-end">
  <p-button label="Redefinir" [disabled]="!senhasBatem()" (onClick)="mudarSenha()"></p-button>
</div>
<p-dialog header="Senha alterada" [closable]="false" [draggable]="false" [modal]="true" [visible]="mostrarModalSucesso">
  <p>Sua senha foi redefinida com sucesso!</p>
  <div class="display-flex justify-content-end">
    <p-button icon="pi pi-check" label="Ok" routerLink="/"></p-button>
  </div>
</p-dialog>
