<ng-container *ngIf="!modal">
  <h1 class="margin-0">{{ ehModoEdicao() ? 'Alterar' : 'Adicionar' }} Pergunta</h1>
  <hr />
</ng-container>
<form [formGroup]="formulario">
  <div class="ui-g margin-top-2">
    <div class="ui-g ui-sm-12 ui-md-12 ui-lg-6">
      <div class="ui-g-12 margin-bottom-1">
        <div class="ui-float-label">
          <input class="width-100" type="text" formControlName="descricao" pInputText />
          <label>Descrição</label>
        </div>
        <app-erros-formulario nomeDoCampo="nome"></app-erros-formulario>
      </div>
      <div class="ui-g-12 margin-bottom-1">
        <div class="ui-float-label">
          <p-multiSelect class="ui-fluid" defaultLabel="." formControlName="areas" [options]="opcoesArea"></p-multiSelect>
          <label>Área(s)</label>
        </div>
        <app-erros-formulario nomeDoCampo="nome"></app-erros-formulario>
      </div>
      <div class="ui-g-12">
        <div>
          <label>Adicionar Opção</label>
          <app-form-opcao class="display-block margin-bottom-2" (aoFinalizar)="adicionarOpcao($event)"></app-form-opcao>
        </div>
        <app-erros-formulario nomeDoCampo="nome"></app-erros-formulario>
      </div>
    </div>
    <div class="ui-sm-12 ui-md-12 ui-lg-6">
      <b class="display-block margin-bottom-2">Opções</b>
      <p-table [value]="obterOpcoes()">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 64px">ID</th>
            <th style="width: auto">Texto</th>
            <th style="width: 100px">É opção correta?</th>
            <th style="width: 120px">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-opcao>
          <tr>
            <td>{{ opcao.id }}</td>
            <td>{{ opcao.texto }}</td>
            <td>{{ isOpcaoCorreta(opcao) ? 'Sim' : 'Não' }}</td>
            <td>
              <p-button icon="pi pi-check" pTooltip="Correta" (onClick)="selecionarOpcaoCorreta(opcao)" styleClass="ui-button-success" class="margin-right-1" *ngIf="opcao.id"></p-button>
              <p-button icon="pi pi-trash" pTooltip="Remover" (onClick)="removerOpcao(opcao)" styleClass="ui-button-danger" class="margin-right-1"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12 display-flex justify-content-end">
      <p-button icon="pi pi-angle-left" label="Voltar" class="margin-right-2" (onClick)="voltar()"></p-button>
      <p-button icon="pi pi-plus" label="Salvar" (onClick)="salvar()"></p-button>
    </div>
  </div>
</form>
<p-toast></p-toast>
