<h1>Provas para Hoje</h1>
<hr />
<div class="ui-g">
  <div class="ui-sm-12 ui-md-6 ui-lg-4 card-simples card-prova" *ngFor="let prova of provas">
    <div>Prova: {{prova.nome}}</div>
    <div>Professor: {{prova.professor}}</div>
    <div>Descrição: {{prova.descricao}}</div>
    <div>Área: {{prova.area}}</div>
    <div>Perguntas: {{prova.perguntaLista.length}}</div>
    <div class="display-flex justify-content-end">
      <p-button class="ui-fluid" icon="pi pi-play" label="Começar" routerLink="form"></p-button>
    </div>
  </div>
</div>
