<h1>Provas Realizadas</h1>
<hr />
<div>
  <p-button icon="pi pi-search" label="Filtros" (onClick)="mostrarFiltros = !mostrarFiltros"></p-button>
  <div class="ui-g" *ngIf="mostrarFiltros">
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <div>Aluno:</div>
      <input class="width-100" pInputText [(ngModel)]="filtroAluno">
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <div>Professor:</div>
      <input class="width-100" pInputText [(ngModel)]="filtroProfessor">
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <div>Depois de:</div>
      <p-calendar class="ui-fluid" [showIcon]="true" [(ngModel)]="filtroDataInicial"></p-calendar>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <div>Antes de:</div>
      <p-calendar class="ui-fluid" [showIcon]="true" [(ngModel)]="filtroDataFinal"></p-calendar>
    </div>
  </div>
</div>
<div class="display-flex padding-1 overflow-x-auto">
  <div class="card-simples card-prova" *ngFor="let prova of obterProvasFiltradas()" (click)="provaSelecionada = prova">
    <h3 class="margin-0px">Prova</h3>
    <hr />
    <span>
      <b>Nome:</b><br />
      {{prova.nome}}<br />
    </span>
    <span>
      <b>Aluno:</b><br />
      {{prova.aluno}}<br />
    </span>
    <span>
      <b>Professor(a):</b><br />
      {{prova.professor}}<br />
    </span>
    <span>
      <b>Data:</b><br />
      {{prova.data | date:"dd/MM/yyyy"}}<br />
    </span>
    <span>
      <b>Pontuação:</b><br />
      {{prova.pontuacao}}%<br />
    </span>
  </div>
</div>
<div class="card margin-top-4" *ngIf="provaSelecionada">
  <h2 class="margin-0px">{{provaSelecionada.nome}}</h2>
  <div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Nome:</b><br />
      {{provaSelecionada.nome}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Aluno:</b><br />
      {{provaSelecionada.aluno}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Professor(a):</b><br />
      {{provaSelecionada.professor}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Data:</b><br />
      {{provaSelecionada.data | date:"dd/MM/yyyy"}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Pontuação:</b><br />
      {{provaSelecionada.pontuacao}}%<br />
    </div>
  </div>
</div>
