<h1>Provas Realizadas</h1>
<hr />
<div class="display-flex padding-1 overflow-x-auto">
  <div class="card card-prova" *ngFor="let prova of provas" (click)="provaSelecionada = prova">
    <h3 class="margin-0px">Prova</h3>
    <hr />
    <span>
      <b>Nome:</b><br />
      {{prova.nome}}<br />
    </span>
    <span>
      <b>Aluno:</b><br />
      {{prova.aluno}}<br />
    </span>
    <span>
      <b>Professor(a):</b><br />
      {{prova.professor}}<br />
    </span>
    <span>
      <b>Data:</b><br />
      {{prova.data | date:"dd/MM/yyyy"}}<br />
    </span>
    <span>
      <b>Pontuação:</b><br />
      {{prova.pontuacao}}%<br />
    </span>
  </div>
</div>
<div class="card margin-top-4" *ngIf="provaSelecionada">
  <h2 class="margin-0px">{{provaSelecionada.nome}}</h2>
  <div class="ui-g">
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Nome:</b><br />
      {{provaSelecionada.nome}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Aluno:</b><br />
      {{provaSelecionada.aluno}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Professor(a):</b><br />
      {{provaSelecionada.professor}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Data:</b><br />
      {{provaSelecionada.data | date:"dd/MM/yyyy"}}<br />
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4">
      <b>Pontuação:</b><br />
      {{provaSelecionada.pontuacao}}%<br />
    </div>
  </div>
</div>
