<div class="ui-g-8 ui-md-8 ui-sm-8">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 ui-sm-12">
            <div class="display-flex ">
                <span class="font-weight-bold"> Lista de provas realizadas:</span>
            </div>
        
            <p-table [columns]="cols" [value]="pageResponse.content" [paginator]="true" [rows]="10" [lazy]="true"
                (onPage)="preencherTabela()" emptyMessage="Nenhum registro encontrado"
                [totalRecords]="pageResponse.totalElements" [(selection)]="selectedCars3" dataKey="vin">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                            <input *ngIf="col.filter" pInputText type="text" (input)="preencherTabela($event.target.value, col.field, 'cotains')">
                            <p *ngIf="!col.filter"></p>

                        </th>
                        <th>
                            {{"Botões"}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>

                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        <td>
                            <div class="display-flex flex-wrap justify-content-end">
                                <span class="margin-x-1 ui-inputgroup-addon font-size-20px">
                                    <i (click)="visualizarProvaRealizada(rowData.id)" class="pi pi-eye cursor-pointer "></i>
                                </span>
                               
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="summary">
                    <ul>
                        <li *ngFor="let car of selectedCars3" style="text-align: left">
                            {{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}
                        </li>
                    </ul>
                </ng-template> -->
            </p-table>
        </div>
    </div>
</div>