<div class="display-flex container-opcao">
  <div class="icone {{ opcao.icon }}" [routerLink]="opcao.routerLink"></div>
  <div class="texto" [routerLink]="opcao.routerLink">{{ opcao.label }}</div>
  <div class="" *ngIf="haSubOpcoes(opcao.items)">
    <span (click)="exibirSubMenu = !exibirSubMenu">{{ exibirSubMenu ? '▼' : '▶' }}</span>
    <ng-container *ngIf="exibirSubMenu">
      <app-opcao-menu class="padding-left-2" *ngFor="let subopcao of opcao.items" [opcao]="subopcao"></app-opcao-menu>
    </ng-container>
  </div>
</div>
