<div class="ui-g-8 ui-md-8 ui-sm-8">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 ui-sm-12">
            <div class="display-flex ">
                <span class="font-weight-bold"> Prova realizada:</span>
            </div>
        
            <span class="font-weight-bold"> ID: {{ provaRealizada.id }}</span>
            <br>
            <span class="font-weight-bold"> Data: {{ provaRealizada.dataRealizacao }}</span>
            <br>
            <span class="font-weight-bold"> Nome Aluno: {{ provaRealizada.aluno.nome }}</span>
            <br>
            <span class="font-weight-bold"> Email Aluno: {{ provaRealizada.aluno.email }}</span>
            <br>
            <span class="font-weight-bold"> Professor: {{ provaRealizada.professor.nome }}</span>
            <br>
           
            <p-table [columns]="cols" [value]="pageResponse.content" [paginator]="true" [rows]="10" [lazy]="true"
                (onPage)="preencherTabela()" emptyMessage="Nenhum registro encontrado"
                [totalRecords]="pageResponse.totalElements" >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>

                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                        
                    </tr>
                </ng-template>
                <!-- <ng-template pTemplate="summary">
                    <ul>
                        <li *ngFor="let car of selectedCars3" style="text-align: left">
                            {{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}
                        </li>
                    </ul>
                </ng-template> -->
            </p-table>
        </div>
    </div>
</div>