<h1 class="margin-0">{{ ehModoEdicao() ? 'Alterar' : 'Adicionar' }} Prova</h1>
<hr />
<form [formGroup]="formulario">
  <div class="ui-g margin-top-4">
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label">
        <input class="width-100" type="text" formControlName="nome" pInputText />
        <label>Nome</label>
      </div>
      <app-erros-formulario nomeDoCampo="nome"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label g-inputgroup">
        <input class="width-100" type="text" formControlName="descricao" pInputText />
        <label>Descrição</label>
      </div>
      <app-erros-formulario nomeDoCampo="descricao"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label g-inputgroup">
        <p-dropdown class="ui-fluid" [options]="professores" placeholder="." formControlName="professor"></p-dropdown>
        <label>Professor</label>
      </div>
      <app-erros-formulario nomeDoCampo="professor"></app-erros-formulario>
    </div>
    <div class="ui-sm-12 ui-md-6 ui-lg-4 ui-xl-3">
      <div class="ui-float-label g-inputgroup">
        <p-calendar class="ui-fluid" formControlName="data"></p-calendar>
        <label>Data</label>
      </div>
      <app-erros-formulario nomeDoCampo="data"></app-erros-formulario>
    </div>
    <div class="ui-g-12">
      <div>Áreas:</div>
      <div class="display-flex">
        <p-checkbox class="margin-right-2" *ngFor="let area of areas" [label]="area.label" name="areaprova"
          [value]="area.value" formControlName="areas"></p-checkbox>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-float-label g-inputgroup">
        <div>Perguntas:</div>
        <p-pickList [responsive]="true" [source]="perguntas" [target]="perguntasSelecionadas">
          <ng-template let-item pTemplate="item">
            <div>{{item.descricao}}</div>
          </ng-template>
        </p-pickList>
      </div>
    </div>
    <div class="ui-g-12 display-flex justify-content-end">
      <p-button icon="pi pi-angle-left" label="Voltar" class="margin-right-2" (onClick)="voltar()"></p-button>
      <p-button icon="pi pi-plus" label="Salvar" (onClick)="salvar()"></p-button>
    </div>
  </div>
</form>
<p-toast></p-toast>
